.main
  margin: 27px auto
  width: 80%

.breadcrumbs a
  @include default-font(12px)
  text-decoration: none
  text-transform: uppercase
  color: rgb(170, 170, 170)
  
.breadcrumbs_lastlink::before
  color: #aaa
  content: "/"
  margin: 0 .63rem
  position: relative
  top: 1px
  
.breadcrumbs a:hover
  color: #9c9c9c
 
.author
  @include default-font(14px)
  //height: 52px 
  color: rgb(102, 102, 102)
  margin-top: 20px
  

.clearfix:after
  content: ""
  display: table
  clear: both

.authorpic, .follow
  display: none
  
.author-profile
  color: rgb(44, 126, 240)

.author__time::before
  content: "|"
  margin: 0 5px
  position: relative
  top: 1px

@media (min-width: 1024px)
  
  .author
    @include default-font(14px)
    border: 1px solid #ddd
    border-right: 0
    height: 52px
  
  .author__title
    margin-top: 16px
    margin-left: 64px
    
  .authorpic
    display: block
    float: left
    
  .authorpic img
    width: 50px 
  
  .follow
    display: block
    float: right
    margin-top: -17px  
    
  .follow img
    margin: 0 4px 7px 0
  
  .mailpic
    padding-bottom: 2px
  
