.main
  margin: 27px auto
  width: 80%

.breadcrumbs a
  text-decoration: none
  text-transform: uppercase
  color: rgb(170, 170, 170)
  font-size: 12px
  font-family: Roboto
  
.breadcrumbs_lastlink::before
  color: #aaa
  content: "/"
  margin: 0 .63rem
  position: relative
  top: 1px