.mainblock,.aside
  margin: 27px auto
  width: 80%

.breadcrumbs a
  @include default-font(12px)
  text-decoration: none
  text-transform: uppercase
  color: rgb(170, 170, 170)
  
.breadcrumbs_lastlink::before
  color: #aaa
  content: "/"
  margin: 0 .63rem
  position: relative
  top: 1px
  
.breadcrumbs a:hover
  color: #9c9c9c
 
.author
  @include default-font(14px)
  //height: 52px 
  color: rgb(102, 102, 102)
  margin-top: 20px
  margin-bottom: 25px


.clearfix:after
  content: ""
  display: table
  clear: both


.authorpic, .follow
  display: none
  
.author-profile
  color: rgb(44, 126, 240)

.author__time::before
  content: "|"
  margin: 0 5px
  position: relative
  top: 1px



.article
  margin: 0 auto
  color: rgb(51, 51, 51)
  @include default-font(16px)
  font-weight: 400
  line-height: 24px

.article__img img
  width: 100%
  border: 1px solid #ddd

.article p
  padding-bottom: 25px
  
.article__imgcaption
  color: rgb(102, 102, 102) 
  border-bottom: 1px solid rgb(220, 223, 232)
  @include default-font(14px)
  padding-bottom: 25px
  margin-top: 15px
  margin-bottom: 25px

.article__imgcaption__source
  font-size: 12px

.article a, .aside a
  color: rgb(44, 126, 240)

.article__ad
  font-weight: 700
  margin-bottom: 20px

.article__paragraphhead
  font-weight: 700

.article__about-author
  font-style: italic  
  
.aside__about
  border-top: 1px solid #ddd
  

.aside__about p, .aside__investing p
  color: rgb(51, 51, 51)
  @include default-font(16px)
  font-weight: 400
  line-height: 24px
  margin-bottom: 20px

.aside__investing-img
  width: 100%
  margin-bottom: 15px

.aside__investing
  margin-bottom: 24px
  border-bottom: 1px solid rgb(220, 223, 232) 

@media (min-width: 1024px)
  
  .author
    @include default-font(14px)
    border: 1px solid #ddd
    border-right: 0
    height: 52px
  
  .author__title
    margin-top: 16px
    margin-left: 64px
    
  .authorpic
    display: block
    float: left
    
  .authorpic img
    width: 50px 
  
  .follow
    display: block
    float: right
    margin-top: -17px  
    
  .follow img
    margin: 0 4px 7px 0
  
  .mailpic
    padding-bottom: 2px
  
