<header class="header">

    <a href="#" class="header__logo"><img src="img/usn-logo-small.svg" alt="header logo"><img src="img/usn-logo-large.svg" alt="header logo"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a class="menu__item" href="#">Money</a></li>
        <li><a class="menu__item" href="#">Investing</a></li>
        <li><a class="menu__item" href="#">Retirement</a></li>
        <li><a class="menu__item" href="#">Personal Finance</a></li>
        <li><a class="menu__lastitem" href="#">Careers</a></li>
        <li><a class="menu__lastitem" href="#">Real Estate</a></li>
    </ul>


 </header>



