<div class="main"> 
    <span class="breadcrumbs">
        <a href="#">Retirement</a>
        <a class="breadcrumbs_lastlink" href="#">On Retirement</a>
</span> 
    <h1>6 Ways to Earn Passive Income When You’re Retired</h1>
    <h3>A little effort up front could set you up with a steady retirement income stream.</h3>
    <div class="author clearfix">
        <div class="authorpic clearfix"><img src="img/author-pic.jpg" alt="author pic"></div>
        <div class="author__title">By <a href="#" class="author-profile">Kathleen Garvin</a>, Contributor <span class="author__time"> Feb. 6, 2018, at 3:47 p.m.</span></div>
        <div class="follow clearfix">
            <a href="#"><img src="img/facebook.png" alt="fb"></a>
            <a href="#"><img src="img/twitter.png" alt="tw"></a>
            <a href="#"><img src="img/reddit.png" alt="reddit"></a>
            <a href="#"><img class="mailpic" src="img/mail.png" alt="mail"></a>
        </div>
    </div>
</div>
